{{form_start(form)}}
    <div class="row">
        <div class="col">
            {{ form_row(form.designation) }}
        </div>
        <div class="col">
            {{ form_row(form.description) }}
        </div>
        <div class="col">
            {{ form_row(form.price_ht) }}
        </div>
        <div class="col">
            <button type="submit">Submit</button>
        </div>
    </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
{{form_end(form)}}